section#cta.wrapper.style4
  .inner
    header
      h2= intl.cta.title
      p= intl.cta.message
    
    ul.actions.vertical
      li
        a.button.fit.special(href="mailto:martineausamuel1990+site@gmail.com" rel="contact")= intl.cta.action
