section#two.wrapper.alt.style2
  section.spotlight
    .image
      img(data-src="images/utc.jpg" alt="education" data-js-lazy-image src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7")
    .content
      h2 
        | Well-Educated as a
        br
        |  Computer Science Engineer
      p Graduated from the University of Technology of Compiègne where I studied the cornerstone of the web development.
  
  section.spotlight
    .image
      img(data-src="images/law.jpg" alt="job" data-js-lazy-image src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7")
    .content
      h2 
        | Continuous learning and
        br
        |  constant search for perfection
      p In an high Customer expectations atmosphere for the legal world where User Experience makes the difference.
      
  section.spotlight
    .image
      img(data-src="images/marathon.jpg" alt="hobbies" data-js-lazy-image src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7")
    .content
      h2 
        | Thinking out of the box
        br
        |  and run marathon
      p When I'm not coding or pushing pixels, you'll find me running along the Seine to push my own limits and explore other challenges.
