section#banner
  .inner
    h2 Samuel Martineau
    p 
      | Passionate Web Engineer, 
      br
      | I like (m|bre)aking things 
      br
      | to turn complexity into simplicity.
  a(href="#one" onclick="ga('send', 'event', { eventCategory: 'Learn More', eventAction: 'Click' })" class="more scrolly") Learn More
