section#cta.wrapper.style4
  .inner
    header
      h2 Feel free to contact me
      p It doesn't matter what you whant to know, I'll always take the time to answer you
    
    ul.actions.vertical
      li
        a.button.fit.special(href="mailto:martineausamuel1990+site@gmail.com" rel="contact") Contact Me
