#footer
  img.footer-avatar(data-src="images/samuelmartineau.jpg" alt="Samuel Martineau avatar" title="Samuel Martineau avatar" data-js-lazy-image)

  ul.icons
    li
      a(href="resume/samuelmartineau.pdf" title="Samuel Martineau resume" onclick="ga('send', 'event', { eventCategory: 'Read Resume', eventAction: 'Click' })" target="_blank" rel="noopener" class="icon fa-file-text-o")
        span.label Resume
    li
      a(href="http://fr.linkedin.com/pub/samuel-martineau/81/298/786" title="Samuel Martineau linkedin" target="_blank" rel="noopener" class="icon fa-linkedin")
        span.label Linkedin
    li
      a(href="https://twitter.com/marti_sami" title="Samuel Martineau twitter" target="_blank" rel="noopener" class="icon fa-twitter")
        span.label Twitter
    li
      a(href="https://github.com/samuelmartineau" title="Samuel Martineau github" target="_blank" rel="noopener" class="icon fa-github")
        span.label Github
    li
      a(href="http://stackoverflow.com/users/5198415/samuel-martineau" title="Samuel Martineau stackoverflow" target="_blank" rel="noopener" class="icon fa-stack-overflow")
        span.label Stackoverflow
    li
      a(href="http://codepen.io/samuelmartineau" title="Samuel Martineau codepen" target="_blank" rel="noopener" class="icon fa-codepen")
        span.label Codepen
    li
      a(href="http://www.meetup.com/fr/members/182936637/" title="Samuel Martineau meetup" target="_blank" rel="noopener" class="icon fa-calendar-check-o")
        span.label Meetup

  ul.copyright
    li &copy; Samuel Martineau
    li
      | Design:
      a(target="_blank" rel="nofollow noopener" href="http://html5up.net") HTML5 UP
