#footer
  ul.icons
    li
      a(href="assets/resume/samuelmartineau.pdf" onclick="ga('send', 'event', { eventCategory: 'Read Resume', eventAction: 'Click' })" target="_blank" class="icon fa-file-text-o")
        span.label Resume
    li
      a(href="http://fr.linkedin.com/pub/samuel-martineau/81/298/786" target="_blank" class="icon fa-linkedin")
        span.label Linkedin
    li
      a(href="https://github.com/samuelmartineau" target="_blank" class="icon fa-github")
        span.label Github
    li
      a(href="http://stackoverflow.com/users/5198415/samuel-martineau" target="_blank" class="icon fa-stack-overflow")
        span.label Stackoverflow
    li
      a(href="http://codepen.io/samuelmartineau" target="_blank" class="icon fa-codepen")
        span.label Codepen
    li
      a(href="http://www.meetup.com/fr/members/182936637/" target="_blank" class="icon fa-calendar-check-o")
        span.label Meetup
  
  ul.copyright
    li &copy; Samuel Martineau
    li 
      | Design: 
      a(target="_blank" href="http://html5up.net") HTML5 UP
