section.wrapper.style1.special#one
  .inner
    header.major
      h2
        | Design and Develop innovative things
        br
        | by using the latest available technological advances.
      p Ever since I can remember I always wanted to be an engineer. To me that was better than being president of the United States. To be an engineer was to guess the world of tomorrow.
    ul.icons.major
      li
        span.icon.fa-user.major.style1
          span.label I
      li
        span.icon.fa-heart-o.major.style2
          span.label Like
      li
        span.icon.fa-code.major.style3
          span.label Code
