- var projects = []
- projects.push({link: 'http://samuelmartineau.com/beerpongtournament/#/', image: 'beerpongtournament.png'})
- projects.push({link: 'https://merrycrosstmas.herokuapp.com', image: 'merrycrosstmas.png'})
- projects.push({link: 'http://samuelmartineau.com', image: 'me.png'})
- projects.push({link: 'https://github.com/samuelmartineau/gulp-pdf-thumbnail', image: 'gulp.png'})
- projects.push({link: 'https://github.com/samuelmartineau/give-it-to-me', image: 'giveittome.png'})

.portfolio
  h2.section__heading Doing <em>is</em> Primary
  p.section__subtitle I love being a doer and try to build some useful stuff for people. For years I share these projects online.
  .isolayer.isolayer--deco4
    ul.grid
      each project in projects
        li.grid__item
          a.grid__link(target="_blank" rel="nofollow noopener" href=(project.link))
            .layer
            .layer
            .layer
            img.grid__img.layer(src="images/projects/#{project.image}" alt="01")
