body {
  overflow-x: hidden;
}

.pseudo-scroller {
  pointer-events: none;
}

.isolayer {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.js .grid,
.js .grid__item,
.js .grid__link {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.grid {
  position: relative;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.grid__item {
  width: 300px;
}

.js .grid__item {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid__link {
  position: relative;
  z-index: 1;
  display: block;
}

.grid__img {
  display: block;
  max-width: 100%;
}

.layer {
  position: relative;
  display: block;
}

.layer:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
}

/* Shadow effect */

.isolayer--deco4 {
  width: 700px;
  height: 900px;
}

.isolayer--deco4 .grid__item {
  padding: 15px;
}

.isolayer--deco4 .grid__link .layer:first-child:not(img) {
  background: #ac5cf5;
}

.isolayer--deco4 .grid__link .layer:nth-child(2):not(img) {
  background: #5db4eb;
}

.isolayer--deco4 .grid__link .layer:nth-child(3):not(img) {
  background: #5debb4;
}

.isolayer--deco4 .grid__link .layer {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.isolayer--deco4 .grid__link div.layer {
  width: 270px;
  height: 203px;
  opacity: 0.4;
}

.isolayer--deco4 .grid__item {
  width: 300px;
  height: 225px;
  padding: 15px;
}

/* Loading effect */
.js .grid {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.js .grid.grid--loaded {
  opacity: 1;
}

.js body::after {
  content: "";
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin: -35px 0 0 -35px;
  pointer-events: none;
  border: 3px solid #fff;
  border-right-color: #323f5c;
  border-radius: 50%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-animation: rotateCircle 0.7s linear infinite forwards;
  animation: rotateCircle 0.7s linear infinite forwards;
}

@keyframes rotateCircle {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.js body.grid-loaded::after {
  opacity: 0;
}
