doctype html
html
  head
    title Samuel Martineau | Web Engineer
    meta(charset="UTF-8")
    
    meta(name="description" content="Resume of Samuel Martineau. Front-End Engineer (Javascript, AngularJS, HTML5, CSS, PhoneGap, React, Node) and Web Developer Expert.")
    
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon" href="samuel_martineau.ico")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="style/app.min.css")

head

body.landing

  #page-wrapper

    include ../partials/banner.jade

    include ../partials/one.jade

    include ../partials/two.jade

    include ../partials/three.jade
    
    include ../partials/cta.jade
    
    include ../partials/footer.jade


  //if lte IE 9
    script(src="js/ie/respond.min.js")
  
  script(src="js/app.min.js")
  script !function(e,n,t,o,a,c,s){e.GoogleAnalyticsObject=a,e[a]=e[a]||function(){(e[a].q=e[a].q||[]).push(arguments)},e[a].l=1*new Date,c=n.createElement(t),s=n.getElementsByTagName(t)[0],c.async=1,c.src=o,s.parentNode.insertBefore(c,s)}(window,document,"script","//www.google-analytics.com/analytics.js","ga"),ga("create","UA-65391889-1","auto"),ga("send","pageview "),setTimeout("ga('send', 'event', { eventCategory: '30 seconds on page', eventAction: 'Read' })",3e4);var runned=!1;$(window).scroll(function(){$(document).scrollTop()>=2e3&&0==runned&&(ga("send","event",{eventCategory:"Scrolled 2000px",eventAction:"Scroll"}),runned=!0)});
